.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  min-width: 600px;
  display: flex;
  position: relative;   /* след.отсчет top left и тд идет от границ header*/
  overflow: hidden;
}
