.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 64px;
  margin-top: auto;
  margin-bottom: auto;
  /*position: relative;*/
  z-index: 2;
}
